{%extends 'base.html'%}

{%block content%}

<body>
    {% include 'navbar.html' %}
<h1 class="text-center">Become a guide.</h1>
<br>
<br>
<br>
<div class="nav-item active text-center" style="font-family: 'Dosis', sans-serif;">
    <a class='btn btn-default' href="{%url 'post'%}">Register to be a guide.</a>
</div>
<br>
<div class="container">
    <h1 class="text-center">EASY MONEY.</h1>
<p>Show tourisst around and earn easy money.Show tourist where your local place has to offerThe enjoyable the tour the large the sum.</p>
</div>
<br>
<div class="container">
    <h1 class="text-center">TOURIST AND PLACES</h1>
   <p >Choose the people and places.As a local you know many places that tourist can enjoy and relax.The locals are free to choose the tourist so as they is comfortability between them.</p> 
</div>
<br>
<div class="container">
    <h1 class="text-center">CHOOSE THE PRICE.</h1>
   <p>The local is free to decide the fee according to the hours they are going to be out.Also local can decide according schedule.</p> 
</div>

</body>
{%endblock%}